@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  background: linear-gradient(90deg, #0056d4 71%, #2f0e0e 98%);
  font-family: Monsterrat;
}

p {
  color: aquamarine;
}

.nav-link {
  color: aquamarine;
}

.navbar-nav .nav-link.active {
  color: rgb(209, 198, 198);
}

.navbar-brand img {
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;
  width: 45px;
  height: 35px;
}

.navbar-toggler {
  background-color: rgb(196, 217, 197);
}

.sidebar {
  color: aquamarine;
  background: linear-gradient(270deg, #090634 71%, #541da6 98%);
}

.card {
  background: linear-gradient(270deg, #0e0a65 71%, #142106 98%);
  color: aquamarine;
}

.card a {
  text-decoration: none;
  color: aquamarine;
}

.slide-text,
.footer-text {
  color: aquamarine;
  margin: auto auto;
}

footer,
btn-outline-primary {
  background: linear-gradient(270deg, #0e0a65 71%, #142106 98%);
}

media-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-animation {
  animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}
